body {
	margin: 0px;
	background-color: #a1cfe6;
}

h1 {
	font-size: 300%;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	text-align: center;
	background-image: url("cloud.jpg");
	margin: 0px;
	padding: 2%;
}

.content {
	font-size: 180%;
	margin: 1%;
	padding: 2%;
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.columns {
	display: flex;
}

.leftColumn {
	flex: 50%;
	padding: 2%;
}

.factors {
	flex: 50%;
	border-radius: 50%;
	padding: 2%;
	background-image: url("cloud2.png");
	background-size: 100%;
}

p {
	margin: 0;
}

#match {
	font-size: 200%;
	background-color: #7e98de;
	border-radius: 50%;
	padding: 10%;
	text-align: center;
}

.button {
	background-color: #517dc4;
	border: 2%;
	color: white;
  	padding: 15px 32px;
  	text-align: center;
	display: inline-block;
	font-size: 16px;
}

.button:hover {
	background-color: #829ac2;
	border: 2%;
	color: white;
  	padding: 15px 32px;
  	text-align: center;
	display: inline-block;
	font-size: 16px;
}

input[type=text] {
  padding: 12px 20px;
  box-sizing: border-box;
}

#factors1, #factors2 {
	font-size: 150%;
}



